// Add your custom CSS here.
.header__buttons {
    display: none !important;
}
.products-carousel__title::before {
    background: #cfa8a1;
    content: " ";
    height: 2px;
    left: 39%;
    margin-top: .5rem;
    position: absolute;
    top: 80%;
    width: 20%;
}
.menu__category {
    display: none;
}

.html-clearfix .vsc-controller {
    display: none;
}
@media(max-width: 576px) {
    #curso, #local {
        max-width: 100%;
    }
}

@media(min-width: 576px) {
    #curso {
        width: 50%;
    }
    .curso-video .html-clearfix {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #local, .gmap_canvas {
        max-height: 150px;
    }
}

.depoimentos.banner-wrapper .depoimento-box {
    margin: 0px auto;
  }
  .depoimento-box {
    border: 1px solid #EBE6E3;
    border-radius: 8px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 9px -5px rgba(148,148,148,0.55);
    -moz-box-shadow: 0px 5px 9px -5px rgba(148,148,148,0.55);
    box-shadow: 0px 5px 9px -5px rgba(148,148,148,0.55);
    text-align: center;
    padding: 20px;
  }
  .title-client-avk {
    text-align: center;
  }
  .title-client-avk img {
    border-radius: 200px;
    max-height: 70px;
    margin: 0 auto;
    margin-bottom: 0px;
    border: 1px solid #cfa8a1;
  }
  .title-client-avk p {
    color: #434343 !important;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    margin-top: 10px !important;
    margin-bottom: 5px;
    display: block;
  }
  .title-client-avk small {
    font-size: 16px;
  }
  
  @media (min-width: 1200px) {
    .depoimento-box {
      text-align: left;
    }
    .title-client-avk {
      text-align: left;
      position: relative;
    }
    .title-client-avk img {
      display: block;
      text-align: center;
      margin-bottom: 0px;
    }
    .title-client-avk p {
      font-size: 18px;
      font-weight: 700;
    }
  }
  
  .reviews {
    small {
      color: var(--secondary);
    }
    .depoimento-box {
      //min-height: 300px;
    }
    height: unset;
  }

.banners-grid.text-grid {
    img {
        width: 180px !important;
        height: 180px !important;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: #cfa8a1;
        border-radius: 100%;
        &:hover {
            transform: translateY(-8px);
        }
        transition-duration: .3s;
        transition-property: transform;
        transition-timing-function: ease-out;
    }
    a {
        height: 180px !important;
        min-height: 210px !important;
    }
    h3 {
        text-align: center;
        color: #cfa8a1;
        font-size: 20px;
        font-weight: 600;
    }
    @media(min-width: 998px) {
        .coluna {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media(max-width: 576px) {
        .coluna {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .row {
        justify-content: center;
    }
}
  
#banner-text {
    h4 {
        font-weight: 600;
        margin-top: 15px;
    }
    p {
        font-size: 1.2rem;
        line-height: 2rem;
    }

}

.agenda-agora, .more-details {
    text-transform: uppercase;
    font-size: 1.5rem;
}

html {
    scroll-behavior: smooth !important;
  }
  